.droit
{
    width: 59% ;
    float: right;
    margin-right: 15%;
    margin-top:10px;
    font-family: corbel ;

}
.gauche
{
    width: 20% ;
    height: 200%;
    background-color:#e84393;
    
    text-align: center;
    margin-left: 5%;
    background-position:center;
    padding-top: 1%;
    color:white;
    font-size: 100%;
}
.droit, .gauche
{
    background-position:center;
}

#imaag
{
    width: 50%;
    height: auto;
    margin-top: 3%;
    border-radius: 20%;

    
}
h1{
    
    color: #dfe4ea;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{
    color:white;
    border-radius: 25px;
    background: #fd79a8;
    padding-top: 1.2%px; 
    padding-bottom: 3.5%;
    width: 68%;
    height: 2%; 
    text-align: center;
    font-family: corbel;
}
#mp
{
    margin-left: 10px;
}
#tete
{
    width: 59% ;
    float: right;
    background-color: #fd79a8;
    margin-right: 14.5%;
    margin-left: px; 
    margin-bottom:1.4%; 
	margin-top:0%;
    color:#1e272e;
    font-size: 160%;
}
body{
    color: #2f3542;

    
}

img#form
{
    width: 5%;
    height: auto;
    margin-top: -7.9%;
    border-right-width: 40%;
    border-top-width: 37%;
    margin-bottom: 0px;
    border-top: -170%;
    padding-left: 61.5%;
}

img#exper
{
    width: 5%;
    height: auto;
    margin-top: -7.9%;
    border-right-width: 40%;
    border-top-width: 37%;
    margin-bottom: 0px;
    border-top: -170%;
    padding-left: 61.5%;
}
img#comp
{
    width: 5%;
    height: auto;
    margin-top: -7.9%;
    border-right-width: 40%;
    border-top-width: 37%;
    margin-bottom: 0px;
    border-top: -170%;
    padding-left: 61.5%;
}
#centre
{
    width: 5%;
    height: auto;
    margin-top: -7.9%;
    border-right-width: 40%;
    border-top-width: 37%;
    margin-bottom: 0px;
    border-top: -170%;
    padding-left: 61.5%;
}

th, td {
    padding: 15px;
    text-align: left;
    background: #dfe6e9;
}

